/*
## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700
*/

@import url(https://fonts.google.com/specimen/Lexend+Deca);
@import url(https://fonts.google.com/specimen/Big+Shoulders+Display);

:root {
    --clr-orange: hsl(31, 77%, 52%);
    --clr-dark-cyan: hsl(184, 100%, 22%);
    --clr-very-dark-cyan: hsl(179, 100%, 13%);

    --clr-transparent-white: hsla(0, 0%, 100%, 0.75);
    --clr-very-light-grey: hsl(0, 0%, 95%);

}


body {
    display: flex;
    font-size: 3rem;
}

h1 {
    font-family: 'Lexend Deca';
}

#sedans {
    background-color: var(--clr-dark-cyan);
}

#suvs {
    background-color: var(--clr-dark-cyan);
}

#luxury {
    background-color: var(--clr-very-dark-cyan);
}

button {
    background-color: white;
}